@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */
* {
    margin: 0;
    padding: 0;

}

/* Banner section style */

header {
    background-color: #E554731A;
    width: 1920px;
    height: 850px;
    font-family: "Poppins", sans-serif;
    /* border: 2px solid red; */
    display: flex;
    gap: 97px;

}

.banner-section-1 {
    /* border: 2px solid green; */
    height: 850px;
    width: 50%;
    margin-top: 150px;
    margin-left: 240px;

}

.banner-section-2 {
    /* border: 2px solid yellow; */
    height: 850px;
    width: 50%;
    margin-top: 50px;
    margin-right: 240px;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 16px;

}

.banner-description {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
}

.btn {
    margin-top: 32px;
    padding: 20px 43px 20px 43px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    color: white;
    margin-bottom: 147px;
}

/* Feature section style */
main {
    font-family: "Poppins", sans-serif;
}

.feature-section-1 {
    text-align: center;
    margin-top: 178px;
}

.feature-title {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}

.feature-description {
    font-size: 18px;
    font-weight: 400;
    color: #27272799;
    margin-top: 24px;
    margin-bottom: 48px;
}

.section-1 {
    width: 464px;
    height: 538px;
    border: 2px solid gainsboro;
    border-style: dashed;
    /* padding: 110px 78px 67px 76px; */
    text-align: center;
    border-radius: 300px 300px 0px 0px;
    background-color: #A7216226;

}

.image-1 {
    margin-top: 110px;
    height: 428px;
    width: 310px;

}

.image-section {

    display: flex;
    justify-content: center;
    gap: 24px;
    border-bottom: 32px;

}

.tree-name {
    font-size: 24px;
    font-weight: 700;
    color: #272727;
    display: flex;
    justify-content: center;
    gap: 307px;
    margin-bottom: 128px;
}

.bg-2 {
    background-color: #0597A026;
}

.bg-3 {
    background-color: #477D1126;
}

/* Support section style */
.support-section {
    height: 320px;
    width: 1440px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2727270D;
    margin-bottom: 128px;
}

/* Hot Deal section style */

.hot-deal {
    background-color: #E554731A;
    width: 1920px;
    height: 850px;
    font-family: "Poppins", sans-serif;
    /* border: 2px solid red; */
    display: flex;
    gap: 97px;
    justify-content: center;
    align-items: center;
}

.hot-deal-section-1 {
    text-align: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.off {
    color: #E55473;
}

.hot-deal-description {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
}

/* Social section style */
.social-header {
    text-align: center;
    margin-top: 128px;
}

.social-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.social-description {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.flower-image-1 {
    width: 342px;
    height: 396px;
    border: 1px solid gainsboro;
    border-style: dashed;
}

.flower-image-section {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* Deal section style */
.deal {
    height: 449px;
    width: 1440px;
    border: 2px solid gainsboro;
    border-style: dashed;
    margin: 0 auto;
    margin-top: 128px;
    background-image: url("../assets/image/Rectangle\ 9.png");

}

.deal-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
    margin-top: 122px;
    text-align: center;
    border-radius: 8px;

}

.deal-title {
    font-size: 40px;
    font-weight: 800;
}

.deal-description {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
}

.input-field {
    /* width: 700px;
    height: 64px; */
    margin-top: 48px;
    /* border: 2px solid yellow; */
    padding: 23px 513px 22px 22px;
    border-radius: 8px;
    border: none;
}

/* Footer section style */
footer {
    color: white;
    width: 1922px;
    height: 449px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 128px;
    background-color: #111010;
    text-align: center;
}

.footer-title {
    margin-top: 128px;
    font-size: 40px;
    font-weight: 800;
}

.flower {
    color: #E55473;
}

.footer-description {
    color: #FFFFFFE6;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
}

.footer-copyright {
    margin-top: 32px;
    color: #FFFFFF66;
}

.git-hub {
    color: red;
    font-size: 40px;
    font-weight: 800;
}